page-login {
  /*ion-content{
    background-image: url(../assets/imgs/logo.png);
  }*/
  .bg .scroll-content{
    height: 100%;
    width: 100%;
    background: linear-gradient(160deg,#f4f4f4 30%, #488aff 70%);
    overflow: hidden; //hide scroll bar
  }

}
