page-login {
  /*ion-content{
    background-image: url(../assets/imgs/logo.png);
  }*/
  .bg .scroll-content{
    height: 100%;
    width: 100%;
    background: linear-gradient(140deg,#f4f4f4 30%, #488aff 60%);
    overflow: hidden; //hide scroll bar


  }
  .head{
    position: absolute;
    display: block;
    color: #000;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    //font-family:Pacifico;

    padding-top: 2px;
    font-weight: 200;
    font-size: 2vh;
  }
  .inputs{
    position: absolute;
    display:block;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:80%;
    color: #ffff;
    opacity:0.5;
    //font-family:Pacifico;
  }

  ion-item {
    background: transparant!important;
    border: 1px solid #fff!important;


    ion-label {
      color: #000 !important;
    }

    .item-inner {
      border-bottom-color: transparent !important;
      box-shadow: none !important;
    }

  }

  button {
        position: absolute;
        display: block;
        top: 50%;
        background: #fff!important;
        border: 1px solid #fff;
        box-shadow: 0px;
        color: #000!important;
    }

}
