<!--
<ion-navbar color="primary" no-border-bottom>
TODO ion-button full
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{departure}} <ion-icon end name="arrow-forward"></ion-icon> {{arrival}}</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="tasksSelection" >
      <ion-segment-button value="todo">
        <ion-icon name="md-square-outline" color="orange"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="done">
        <ion-icon name="md-checkbox-outline" color="secondary"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <div [ngSwitch]="tasksSelection">
      <ion-list  *ngSwitchCase="'todo'">
        <h5  ion-text color="orange"> Tasks to be done :</h5>

        <!--Health related tasks to be done -->
        <div *ngIf="toDoTasksHealth.length">
          <ion-item-group>
            <ion-item-divider >
              <img  src="assets/imgs/HealthTasks.jpg">
            </ion-item-divider>

          <ion-item-sliding *ngFor="let task  of toDoTasksHealth">
            <ion-item>
                <button ion-item no-lines (click)="showTaskInfo(task)">{{task.title}}</button>
            </ion-item>
            <ion-item-options>
              <button ion-button large color="secondary" (click)="taskDone(task)">
                <ion-icon name="checkmark"></ion-icon>
              </button>
            </ion-item-options>

          </ion-item-sliding>
            </ion-item-group>
        </div>
        <div padding-bottom *ngIf="!toDoTasksHealth.length">
             No remaining tasks: you're good to go !
        </div>


        <!-- Paperwork related tasks to be done -->
        <div *ngIf="toDoTasksPaperwork.length">
          <ion-item-group>
            <ion-item-divider >
              <img  src="assets/imgs/documents.jpg">
            </ion-item-divider>

          <ion-item-sliding *ngFor="let task  of toDoTasksPaperwork">
            <ion-item>
                <button ion-item no-lines (click)="showTaskInfo(task)">{{task.title}}</button>
            </ion-item>
            <ion-item-options>
              <button ion-button large color="secondary" (click)="taskDone(task)">
                <ion-icon name="checkmark"></ion-icon>
              </button>
            </ion-item-options>

          </ion-item-sliding>
            </ion-item-group>
        </div>
        <div padding-bottom *ngIf="!toDoTasksPaperwork.length">
             No remaining tasks: you're good to go !
        </div>

        <!-- Other related tasks to be done -->
        <div *ngIf="toDoTasksMisc.length">
          <ion-item-group>
            <ion-item-divider >
              <img  src="assets/imgs/baggage.jpg">
            </ion-item-divider>

          <ion-item-sliding *ngFor="let task  of toDoTasksMisc">
            <ion-item>
                <button ion-item no-lines (click)="showTaskInfo(task)">{{task.title}}</button>
            </ion-item>
            <ion-item-options>
              <button ion-button large color="secondary" (click)="taskDone(task)">
                <ion-icon name="checkmark"></ion-icon>
              </button>
            </ion-item-options>

          </ion-item-sliding>
            </ion-item-group>
        </div>
        <div padding-bottom *ngIf="!toDoTasksMisc.length">
             No remaining tasks: you're good to go !
        </div>

      </ion-list>


      <ion-list *ngSwitchCase="'done'">
        <h5  ion-text color="secondary"> Checked tasks:</h5>
        <!-- Checked health related tasks-->
        <div *ngIf="tasksDoneHealth.length">
            <ion-item-group>
              <ion-item-divider >
                <img  src="assets/imgs/healthTasks.jpg">
              </ion-item-divider>
              <ion-item-sliding *ngFor="let task  of tasksDoneHealth">
                <ion-item>
                  <button ion-item  no-lines (click)="showTaskInfo(task)">
                    {{task.title}}
                  </button>
                </ion-item>
                <ion-item-options>
                  <button ion-button large color="danger" (click)="taskToDo(task)">
                    <ion-icon name="square-outline"></ion-icon>
                  </button>
                </ion-item-options>
              </ion-item-sliding>
            </ion-item-group>
          </div>
        <div padding-bottom *ngIf="!tasksDoneHealth.length">
             No tasks here...
        </div>

      <!-- Checked Paperwork related tasks-->
      <div *ngIf="tasksDonePaperwork.length">
        <ion-item-group>
          <ion-item-divider >
            <img  src="assets/imgs/documents.jpg">
          </ion-item-divider>
          <ion-item-sliding *ngFor="let task  of tasksDonePaperwork">
            <ion-item>
              <button ion-item  no-lines (click)="showTaskInfo(task)">
                {{task.title}}
              </button>
            </ion-item>
            <ion-item-options>
              <button ion-button large color="danger" (click)="taskToDo(task)">
                <ion-icon name="square-outline"></ion-icon>
              </button>
            </ion-item-options>
          </ion-item-sliding>
        </ion-item-group>
    </div>
    <div padding-bottom *ngIf="!tasksDonePaperwork.length">
         No tasks here...
    </div>


    <!-- Checked other related tasks-->
    <div *ngIf="tasksDoneMisc.length">
      <ion-item-group>
        <ion-item-divider >
          <img  src="assets/imgs/baggage.jpg">
        </ion-item-divider>
        <ion-item-sliding *ngFor="let task  of tasksDoneMisc">
          <ion-item>
            <button ion-item  no-lines (click)="showTaskInfo(task)">
              {{task.title}}
            </button>
          </ion-item>
          <ion-item-options>
            <button ion-button large color="danger" (click)="taskToDo(task)">
              <ion-icon name="square-outline"></ion-icon>
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-item-group>
    </div>
    <div padding-bottom *ngIf="!tasksDoneMisc.length">
         No tasks here...
    </div>
  </ion-list>
  </div>

  <ion-fab right bottom>
      <button ion-fab color="primary" (click)="addTask()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-fab>
</ion-content>
