page-trips {
  .has-refresher  .scroll-content { // remove unaesthetic ligns
      border-top: 0 !important;
    }

    .card-background-page {

    ion-card {
      position: relative;
      text-align: center;
    }

    .card-title {
      position: absolute;
      transform: translateY(-50%);
      top: 36%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color:  #FFA500;
    }

    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      transform: translateY(+50%);
      top: 52%;
      width: 100%;
      color: #fff;
    }
  }
}
